<% if params[:commit] == "Search cid_appid" %>
    $("#clear_flag").remove();
    $("<div id='clear_flag'><b><%= "游戏名字：#{@front_name}" %></b><br /><b><%= "appId：#{@front_appId}" %></b><br /><b><%= "cId：#{@front_cId}" %></b><br /></div>").appendTo("#cid_appid");
<% elsif params[:commit] == "Search name_id" %>
    $("#name_flag").remove();
    $("<div id='name_flag'><b><%= "userid：#{@user_id}" %></b><br /><b><%= "baiduId：#{@baidu_id}" %></b><br /><%= "#{@warn}" %></b><br /></div>").appendTo("#name_id");
<% end %>