<%= form_for(@get, remote: true) do |f| %>
  <% if @get.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@get.errors.count, "error") %> prohibited this get from being saved:</h2>

      <ul>
      <% @get.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:case_title) %><br>
    <%= f.text_field :title, class: "form-control", readonly: "true" %>
  </div>
  <div class="field">
    <%= f.label t(:project) %><br>
    <%= f.select(:project, [
      ['单机SDK', 1], ['网游SDK', 2],
      ['18183', 3], ['争霸赛', 4],
      ['iOS SDK', 5], ['百度星玩家', 6],
      ['onesdk', 7], ['CRM星玩家', 8],
      ['百度游戏',9]
      ]) %>
  </div>
  <div class="field">
    <%= f.label t(:url) %><br>
    <%= f.text_area :url, class: "form-control", rows: "6", readonly: "true" %>
  </div>
  <div class="field">
    <%= f.label t(:expected_result) %><br>
    <%= f.text_area :result, class: "form-control", rows: "8", readonly: "true" %>
    支持多个检查点,一行一个检查点
  </div>
  <%= link_to 'Edit', edit_get_path(@get),class: "btn btn-success" %>
  <%= link_to t(:back), gets_path, class: "btn btn-default" %>
  <%= f.submit t("getData_ajax"), class: "btn btn-primary" %>
<% end %>
