<%= form_for(@get) do |f| %>
  <% if @get.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@get.errors.count, "error") %> prohibited this get from being saved:</h2>

      <ul>
      <% @get.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:case_title) %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label t(:url) %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label t(:expected_result) %><br>
    <%= f.text_area :result, class: "form-control", rows: "8" %>
    支持多个检查点,一行一个检查点
  </div>
  <%= f.submit class: "btn btn-success"%>
  <%= link_to t(:back), gets_path, class: "btn btn-default"%>
<% end %>
