<%= form_for(@get, remote: true) do |f| %>

  <p>
    <%= f.label t(:url) %><br>
    <%= f.text_field :url, class: "form-control" %>
  </p>

  <p>
    <%= f.submit t("getData_ajax"), class: "btn btn-primary" %>
  </p>

<% end %>

<%= render 'getdata' %>

