<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:title) %>:</strong>
  <%= @get.title %>
</p>

<p>
  <strong><%= t(:project) %>:</strong>
  <%= @get.project %>
</p>

<p>
  <strong><%= t(:url) %>:</strong>
  <%= @get.url %>
</p>

<p>
  <strong><%= t(:expected_result) %>:</strong>
  <%= @get.result %>
</p>

<%= link_to t(:edit), edit_get_path(@get) %> |
<%= link_to t(:back), gets_path %>
