<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @get.url %>
</p>

<p>
  <strong>Result:</strong>
  <%= @get.result %>
</p>

<%= link_to 'Edit', edit_get_path(@get) %> |
<%= link_to 'Back', gets_path %>
