<div class="col-md-1">
</div>
<div class="col-md-10">
<h2>Listing information</h2>

<table class="table">
  <tr>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>

  <% @information.each do |information| %>
    <tr>
      <td><%= link_to information.title, information_path(information) %></td>
      <td><%= link_to 'Show', information %></td>
      <td><%= link_to 'Edit', edit_information_path(information) %></td>
      <td><%= link_to 'Destroy', information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Information', new_information_path %>
</div>

<div class="col-md-1">
</div>
