<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this get from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

  <div id="get_response" class="field">
    <%= f.label t(:expected_result) %><br>
		<%= @post.result.force_encoding("UTF-8") %>
  </div>
<% end %>
