<!DOCTYPE html>
<html>
<head>
  <title>XinTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="title">
  <span>
    <!--<%= link_to t(:select_language), "#{gets_path}?locale=zh-CN" %>-->
    <%= link_to "中文", "#{welcome_index_path}?locale=zh-CN" %>
  </span>
  <h1><a href="/">xinTest</a></h1>
</div>

<div id="nav">
  <%= link_to t(:main_page), "/" %> | 
  <%= link_to 'Get用例列表', gets_path %> | 
  <%= link_to '新建Get用例', new_get_path %> | 
  <%= link_to 'Post用例列表', posts_path %> | 
  <%= link_to '新建Post用例', new_post_path %> | 
</div>

<div id="menu">
  <div>
    <%= link_to t(:case_list), gets_path %>
  </div>
</div>

<div id="body">
<%= yield %>
</div>


</body>
</html>
