<!DOCTYPE html>
<html>
<head>
  <title>XinTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- navigate bar 导航 -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- 网站 logo -->
        <a class="navbar-brand" style="color: white;" href="/">xinTest</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to t(:main_page), "/" %></li>
          <li><%= link_to 'Get用例列表', gets_path %></li>
          <li><%= link_to '新建Get用例', new_get_path %></li>
          <li><%= link_to 'Post用例列表', posts_path %></li>
          <li><%= link_to '新建Post用例', new_post_path %></li>
  
          <!-- dropdown list 下拉列表 -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <!-- sign in and sign up 登陆和注册 -->

        <span class="navbar-right">
          <!--<%= link_to t(:select_language), "#{gets_path}?locale=en" %>-->
          <%= link_to "英语", "#{welcome_index_path}?locale=en" %>
        </span>
      </div><!--/.navbar-collapse -->
    </div><!-- /.container -->
  </nav>

  <div class="container">

    <!-- content 正文 -->
    <div class="row">
      <%= yield %>
    </div>

    <hr />
    
    <!-- footer -->
    <footer class="text-center">
      <p class="btn btn-default"><i class="fa fa-heart-o"></i> <%= link_to "xinTest", "/" %> <i class="fa fa-heart-o"></i>      </p>
    </footer>

  </div> <!-- /container -->

</body>
</html>
